body {
    background: rgb(109, 70, 11);
}
div {
    font-style: italic;
    font-size: smaller;
    max-width: 70vw;
    width: 600px;
    margin: auto;
    display: flex;
    justify-content: center;
}
select {
    width: 100%;
    padding: 1rem;
    margin: auto;
    font-size: 3em;
}
.content {
    display: flex;
    padding: 1em;
    margin: auto;
    margin-top: 2rem;
    justify-content: space-evenly;
    font-size: larger;
}
.content article:first-of-type {
    width: 30%;
}

.content article:last-of-type {
    width: 65%;
}