:root{
    --maincolor: rgb(159, 212, 186);
 }
 *{
    margin:0;
 }
 body{
    width:100vw;
    height:100vh;
    background:
       linear-gradient(225deg,var(--maincolor) 30%, transparent 30%,transparent 70%, var(--maincolor) 70%),
       linear-gradient(-225deg,var(--maincolor) 30%, rgb(230, 219, 197) 30%,rgba(255,255,255,0.7) 70%, var(--maincolor) 70%),
       linear-gradient(90deg,var(--maincolor) 30%, transparent 30%,transparent 70%, rgba(0,0,0,0.8) 70%)white;
    
    background-size:60px 60px, 60px 60px, 5px 5px;
    background-position:0 0, 0 0,0 0;
    display:grid;
    animation:bg-shift 10s linear infinite alternate-reverse;
 }
 @keyframes bg-shift{
    from{
       background-position:0 0;
    }
    to{
       background-position:0 100%;
    }
 }

div {
    font-style: italic;
    font-size: smaller;
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
}
select {
    width: 100%;
    padding: 1rem;
    margin: auto;
    font-size: 3em;
}
.content {
    display: flex;
    padding: 1em;
    margin: auto;
    margin-top: 2rem;
    justify-content: space-evenly;
    font-size: larger;
}
.content article:first-of-type {
    width: 30%;
}

.content article:last-of-type {
    width: 65%;
    text-align: right;
}

/* Let's play repeat-text in backgroud, and -moz-element only works for Firefox */
.hide {
    overflow: hidden;
    color: black;
}
.hide ~ div:first-of-type {
    margin-top: -8em;
}
#kittens {
    font-weight: 200;
}
   
h1 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    opacity: 0.1;
}
body {
    min-height: 100vh;
    background-image: -moz-element(#versatility);
    /* background-repeat: repeat-y; */
    /* background-position: center; */
}

.bubble {
    padding-bottom: 15px;
    min-width: 250px;
    float: right;
}
.bubble::after {
    content: url("data:image/svg+xml; utf8, <svg width='36' height='35' viewBox='0 0 36 35' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3.00684 1.49023H33.0068' stroke='rgba(100, 70, 11, 1)' stroke-width='4'/><path d='M1.56152 1.49023L8.42899 31.4902L35.176 1.49023' stroke='teal' stroke-width='3'/></svg>");
    position: relative;
    bottom: -54px;
    left: -19%;
}

.inputList {
    display: flex;
    flex-direction: column;
}

.inputList > input {
    font-size: large;
    width: 100%;
    height: 2em;
    border-radius: 0.5em;
}
.inputList > p {
    font-weight: bolder;
    font-size: larger;
}
