body {
    --bg: rgba(100, 70, 11, 1);
    background: var(--bg);
}

div {
    font-style: italic;
    font-size: smaller;
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
}
select {
    width: 100%;
    padding: 1rem;
    margin: auto;
    font-size: 3em;
}
.content {
    display: flex;
    padding: 1em;
    margin: auto;
    margin-top: 2rem;
    justify-content: space-evenly;
    font-size: larger;
}
.content article:first-of-type {
    width: 30%;
}

.content article:last-of-type {
    width: 65%;
    text-align: right;
}

/* Let's play repeat-text in backgroud, and -moz-element only works for Firefox */
.hide {
    overflow: hidden;
    color: black;
}
.hide ~ div:first-of-type {
    margin-top: -8em;
}
#kittens {
    font-weight: 200;
}
   
h1 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    opacity: 0.1;
}
body {
    min-height: 100vh;
    background-image: -moz-element(#versatility);
    /* background-repeat: repeat-y; */
    /* background-position: center; */
}